<h3>Bienvenido a tu Tienda Tecnológica!</h3>
<div class="row">
        <h5>Promociones</h5>
</div>
<div class="row">    
        <h5>Productos</h5>
        <br>        
        <div class="row">
            <a href="#"><img src="https://i.blogs.es/85d523/panasonic-eluga-x1-pro-smartphones/1366_2000.jpg" alt="" width="300px" height="300"></a>
            <a href="#"><h6> Celular X1</h6></a>                   
        </div>
        <div class="row">
            <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXHJwY56taNT5u7V_KeLpiZVGLbuOn-AWoDMQC2jM3xzmusUnL-r60IJ7zu-dy91RmWN0&usqp=CAU" alt="" width="300px" height="300"></a>
            <a href="#"><h6> Portatil HP 245</h6></a>                   
        </div>
        <div class="row">
            <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCPp34TLTMPbhS1WjX-laab01L8dz562r24W452UnFEHl5imtYCWKZAK2bWLsmOAD6d8s&usqp=CAU" alt="" width="300px" height="300"></a>
            <a href="#"><h6> Diademas</h6></a>                   
        </div>
        <div class="row">
            <a href="#"><img src="https://http2.mlstatic.com/D_NQ_NP_669837-MCO31553731315_072019-O.jpg" alt="" width="300px" height="300"></a>
            <a href="#"><h6> Cable HDMI</h6></a>                   
        </div>    
</div>


