<footer class="page-footer" style="background-color:#6e7eee">
    <div class="container">
    <div class="row">
        <div class="col l6 s12">
        <h5 class="white-text">Contenido Adicional</h5>
        <p class="grey-text text-lighten-4">Consulta para más información.</p>
        </div>
        <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Info</a></li>
        </ul>
        </div>
    </div>
    </div>
    <div class="footer-copyright">
    <div class="container">
    © 2021 Techno Team
    <a class="grey-text text-lighten-4 right" href="#!">Más información</a>
    </div>
    </div>
</footer>
